* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  border: solid black 5px;
  border-radius: 7px;
  background-color: ghostwhite;
}

article {
  border-bottom: black solid 5px;
  
}

nav {
  background-color: aquamarine;
}

#title {
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  background-color: aquamarine;
  border-bottom: 5px black solid;
  padding-top: 30px;
  padding-bottom: 50px;
}

.title-image {
  
  position: absolute;
  margin-left: 60px;
  width: 150px;
  height: 150px;
}


.recipe-title {
  font-size: 40px;
  text-align: center;
  text-decoration: underline dashed;
  padding: 20px 0;
}

.ingredients-label {
  margin-bottom: 20px;
  margin-left: 80px;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.cookie-ingredients {
  color: #555;
  margin-left: 50px;
  margin-bottom: 25px;
  list-style: square;

}

.instructions-label {
  margin-bottom: 20px;
  margin-left: 80px;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.cookie-instructions {
  color: #555;
  margin-left: 50px;
  margin-bottom: 80px;
}

.link-to-cookie-recipe-text {
  color: white;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
}

.link-to-cookie-recipe {
  margin-left: 200px;
  width: 200px;
  height: 100px;
  background-color: lightseagreen;
  border-radius: 4px;
  margin-bottom: 40px;
  border: 3px black solid;
  margin-top: 40px;
}

.link-to-cart {
  color: white;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
  position: absolute;
  margin-left: 20px;
  width: 200px;
  border: 3px black solid;

  height: 100px;
  background-color: lightseagreen;
  border-radius: 4px;
  margin-bottom: 40px;
  margin-top: 40px;

}

.link-to-more-recipes {
  color: white;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
  position: absolute;
  margin-left: 250px;
  width: 200px;
  height: 100px;
  border: 3px black solid;
  background-color: lightseagreen;
  border-radius: 4px;
  margin-bottom: 40px;
  margin-top: 40px;

}